@model IEnumerable<FilmCollection.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <img src="~/JoelHilton.jpg" />
</div>