@model IEnumerable<FilmCollection.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<!--Home page w/Picture of Joel Hilton-->
<div class="text-center">
    <img src="~/JoelHilton.jpg" style="border-radius: 10px;"/>
</div>