@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MyPodcasts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "My Podcasts";
}

<!-- Podcast page-->
<div>
    <p>Listen to podcasts at: <a href="https://baconsale.com/">https://baconsale.com/</a></p>
</div>